%form
  .form-group
    %label{ for: 'team-link' } Team link:
    %input.team-link.form-control{ type: 'text' }
  .form-group
    %label{ for: 'team-id' } Team ID:
    %input.team-id.form-control{ type: 'text' }
  %button.btn.btn-primary{ type: 'submit' } Get Team ID
