%form
  .form-group
    %label{ for: 'team-link' }
    %input#team-link.form-control{ type: 'text', placeholder: 'Enter team link here...' }
  .form-group
    #team-id.invisible
      Team ID:
  %button.btn.btn-primary.btn-block#get-team-id-btn Get Team ID
