- team_id_info= "The unique ID given to a Microsoft Team's team. You can use the Get Team ID panel to extract Team ID from Team Link."
- security_token_info = 'The token generated after creating the outgoing webhook.'
%form
  .alert.alert-danger.d-none#team-id-input-empty-alert Field cannot be empty!
  -# .alert.alert-success#copiedd-alert Copied!
  .form-group
    %input.form-control.col-sm-10.float-left#team-id-input{ type: 'text', required: 'true', placeholder: 'Enter team id here...' }
    %button.btn.material-icons-outlined.mb-3.float-right#team-id-info{ 'data-toggle' => 'tooltip', title: team_id_info, 'data-placement': 'top' } info
  .form-group
    %input.form-control.col-sm-10.float-left.mt-3#team-security-token-input{ type: 'text', required: 'true', placeholder: 'Enter security token here...' }
    %button.btn.material-icons-outlined.mb-3.float-right#security-token-info{ 'data-toggle' => 'tooltip', title: security_token_info, 'data-placement': 'top' } info
    %button.btn.btn-success.btn-block.mt-3#register-team-btn Register
