#copied-alert {
  display: none;
}

.footer {
  margin-bottom: 50px;
  width: 100%;
  color: grey;
  text-align: center;
  margin-top: 50px !important;
}

.jumbotron {
  background-color: whitesmoke !important;
}
